h3 {
  margin-top: 30px;
}

.container-weather-data {
  padding: 10px;
  justify-content: center;
  display: flex;
  margin-top: 50px;
  cursor: pointer;
}

.weather-hours {
  display: flex;
  min-height: 463px;
  margin-top: 30px;
  overflow-x: auto;
  margin: 80px;
  width: 690px;
}
