.data-container {
  display: flex;
  flex-direction: column;
}

.form-user-data {
  display: flex;
  flex-direction: column;
  border: 3px solid whitesmoke;
  border-radius: 25px;
  padding: 30px;
  margin: 100px auto;
  min-width: 450px;
}

.form-error {
  color: #ff0000;
}

.user-data-btn {
  padding: 10px;
}
