:root {
  --bg-dark: #3d5a5b;
  --bg-light: #c7dcea;
}

* {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: #c7dcea; */
}

.layout {
  background-color: var(--bg-light);
  height: inherit;

  overflow-y: scroll;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout.dark {
  background-color: var(--bg-dark);
  color: wheat;
}

.layout.dark a {
  /* background-color: var(--bg-dark); */
  color: wheat;
}

.layout.dark .header-container {
  background-color: #61a2a2;
}
/* .header {
  height: 80px;

  background: #f0f8ff;
  text-align: center;
  line-height: 80px;
} */
